.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

html[data-theme='dark'] .heroBanner {
  background-color: var(--ifm-color-primary-darkest);
  color: #ccc;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroButton:hover {
  opacity: 0.8;
}

.heroButton:active {
  opacity: 0.6;
}

.heroStartedButton {
  color: white !important;
  background-color: #1111ee;
  border-color: #1111ee;
}

.heroStartedButton:active {
  background-color: #1111ee;
  border-color: #1111ee;
}
